*{margin:0px; padding:0px;}
#jsq{width:400px; height:400px; background:#000; margin:100px auto 0px; border:2px solid #fff;
    box-shadow:0px 0px 10px #000;}
#jsq h3{font-size:26px; color:#fff; font-family:"微软雅黑"; text-shadow:0px 0px 20px #fff;
    text-align:center; line-height:65px;}
#jsq .endTime{color:#fff; font-size:14px; padding-left:25px; }
#jsq .endTime input{width:70px; height:30px; border-radius:10px; margin:0px 5px; color:#6600cc;
    text-align:center;}
#jsq .begin{width:100px; height:100px; background:#fff; box-shadow:2px 2px 10px #ddd; border-radius:50px; text-align:center; line-height:100px; font-size:35px; font-weight:bold;
    margin:30px auto;}
#jsq p{color:#fff; font-size:24px; text-align:center; line-height:45px;}
#jsq p span{color:#ffff33; font-weight:bold; font-size:35px; padding:0px 10px;}